.iocTitle {
    text-align: center;
}

.iocImage {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.iocPara {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}