.news-form {
    margin: auto;
}

.fileupload {
    margin: auto;
    padding: 6px;
    background-color: rgb(253, 252, 251);
    border: 1px rgb(214, 214, 214) solid;
    border-radius: 4px;
}

.errors {
    color: red;
}

.post {
    float: left;
    margin: 30px;
    display: grid;
}

.blog {
    margin: auto;
    padding: 5% 10%;
    height: 1100px;
}

.titt {
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.content_wrapper_x {
    margin-top: 80px;
    margin-left: 440px;
    background-color: white;
}